<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BookEdit.Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BookEditor.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
        </BookEditor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BookEdit.Editor.Properties.Settings>
            <setting name="HostAddress" serializeAs="String">
                <value>http://www.ruiyuedigi.com/</value>
            </setting>
            <setting name="GetBookList" serializeAs="String">
                <value>API/GetBookListByAuthor?Authorid=</value>
            </setting>
        </BookEdit.Editor.Properties.Settings>
    </applicationSettings>
</configuration>